#login{
    margin-right: 10px;
  }
#anchor-login{
    color: white;

  }
#anchor-login:hover{
    text-decoration: none;
    color: #41aaa8;
  }
.navbar-dark{
    background-color: #105e62 !important;
  }
  .navbar{
    z-index: 1;
    
  }
#btn-crear-cuenta{
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border-color: #99d8d0;
    color: white;
    border-radius: 5px;
  }
#btn-crear-cuenta:hover{
    background-color: #99d8d0;
    color: black;
  }
#inicio:hover{
    color: #41aaa8;
  }