#contenedor-principal-usuarios{
    width: 100%;
    padding: 30px 20px 50px 20px;
  }
  .posicion-icono{
    float: left;
    margin-right: 10px;
  }
  #explicacion-area{
    padding-top: 12px;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #105e62;
    padding-bottom: 18px;
    padding-bottom: 30px;
  }
  #indicador-pagina{
    font-family: 'Inria Serif';
    color: #105e62;
    font-size: 1em;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .personalizacion-tabla{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  .tabla-encabezado{
    color: #105e62;
  }
  .anchor-acciones{
    color: #b5525c;
  }
  .anchor-acciones:hover{
    color: #b5525c;
  }
  .btn-nuevo-usuario{
    padding: 10px 20px 10px 10px;
    background-color: #b5525c;
    border-radius: 5px;
    color: white;
    text-align: center;
  }
  .btn-nuevo-usuario:hover{
    background-color: #c43544;
  }
  #contenedor-nuevo-usuario{
    float: right;
  }