<div id="contenedor-principal-usuarios">
    <div id="usuarios-cabecera">
      <div><i class="fas fa-users posicion-icono"></i></div>
      <div id="indicador-pagina">Usuarios</div>
      <div id="contenedor-nuevo-usuario">
        <button class="btn-nuevo-usuario">nuevo usuario</button>
      </div>
      <div id="explicacion-area">Personal registrado en tu plataforma.</div>
    </div>
    <table class="table personalizacion-tabla">
      <thead>
        <tr>
          <th scope="col" class="tabla-encabezado">#</th>
          <th scope="col" class="tabla-encabezado">Nombre</th>
          <th scope="col" class="tabla-encabezado">Nombre de usuario</th>
          <th scope="col" class="tabla-encabezado">Correo electrónico</th>
          <th scope="col" class="tabla-encabezado">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bessy Sánchez <a class="anchor-acciones" href="">editar</a> <a class="anchor-acciones" href="">eliminar</a> </td>
          <td>bessy-s</td>
          <td>bessy.s@gmail.com</td>
          <td>admin</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Montserrat Sánchez <a class="anchor-acciones" href="">editar</a> <a class="anchor-acciones" href="">eliminar</a> </td>
          <td>montse-s</td>
          <td>montse@gmail.com</td>
          <td>admin</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>ledys Santos <a class="anchor-acciones" href="">editar</a> <a class="anchor-acciones" href="">eliminar</a> </td>
          <td>ledys-s</td>
          <td>ledys@gmail.com</td>
          <td>user-n</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Óscar Cáceres <a class="anchor-acciones" href="">editar</a> <a class="anchor-acciones" href="">eliminar</a> </td>
          <td>oscar-c</td>
          <td>oscar.caceres@gmail.com</td>
          <td>admin</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Luis Solano <a class="anchor-acciones" href="">editar</a> <a class="anchor-acciones" href="">eliminar</a> </td>
          <td>luis-s</td>
          <td>luis-s@gmail.com</td>
          <td>user-n</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Carlos López <a class="anchor-acciones" href="">editar</a> <a class="anchor-acciones" href="">eliminar</a> </td>
          <td>carlos-l</td>
          <td>carlos@gmail.com</td>
          <td>user-n</td>
        </tr>
      </tbody>
    </table>
  </div>
