<!-- Inicio del componente usuarios/administración de Liebe-->
<div id="contenedor-paginas">
  <div id="nota-informativa">
    En esta sección de la administración puedes visualizar todos los usuarios que tú como administrador has creado. Existen dos tipos de usuarios; los que asumen el rol de administrador y los usuarios con roles básicos.
  </div>
  <div id="paginas-cabecera">
    <div><i class="fas fa-users posicion-icono"></i></div>
    <div id="indicador-pagina">Usuarios</div>
    <div id="contenedor-nueva-pagina">
      <button type="button" class="btn-nueva-pagina" data-toggle="modal" data-target="#modal-nuevo-usuario">
        Añadir nuevo usuario
      </button>
    </div>
    
    <div id="explicacion-area">Personas registradas en tu plataforma.</div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Usuario</th>
          <th scope="col">Tipo</th>
          <th scope="col">Correo electrónico</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Diana Sánchez</b><br><a class="acciones-paginas" href="" routerLink = "/admin/edicion-usuario">editar</a></td>
          <td>diana-s</td>
          <td>admin</td>
          <td>yolibeth@gmail.com</td>
        </tr>
        <tr>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
        <tr>
          <td>Bessy Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>bessy-s</td>
          <td>user-n</td>
          <td>bessy.com</td>
        </tr>
        <tr>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
        <tr>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
        <tr>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
        <tr>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Ventana modal para añadir un nuevo usuario-->

<div class="modal fade" id="modal-nuevo-usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">
          Registro de nuevo usuario
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="contenedor-principal-usuarios">
          <div id="usuarios-cabecera">
            <div><i class="fas fa-users posicion-icono"></i></div>
            <div id="indicador-pagina">Usuarios</div>
            <div id="explicacion-area">Añade usuarios a tu sitio.</div>
          </div>
          <form action="" id="formulario-registro">
              <label for="" class="lbl-registro-proyecto">Dirección de correo electrónico</label><br>
              <input type="text" id="txt-correo" class="input-registro" autofocus><br>
              <label for="" class="lbl-registro-proyecto">Nombre de usuario</label><br>
              <input type="text" id="txt-nombre-usuario" class="input-registro"><br>
              <label for="" class="lbl-registro-proyecto">Contraseña</label><br>
              <input type="text" id="txt-contrasena" class="input-registro"><br>
              <label for="" class="lbl-registro-proyecto">Confirmar contraseña</label><br>
              <input type="text" id="txt-confirmacion-contrasena" class="input-registro"><br>
              <label for="" class="lbl-registro-proyecto">Tipo usuario admin/user-n</label><br>
              <input type="text" id="txt-confirmacion-contrasena" class="input-registro"><br>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-nuevo-usuario">Guardar nuevo usuario</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin de la ventana modal para añadir un nuevo usuario-->

<!-- Fin del componente usuarios/administración de Liebe-->