<!-- Inicio del componente usuarios/administración de Liebe-->
<div id="contenedor-paginas">
  <div id="nota-informativa">
    En esta sección de la administración puedes visualizar todos los usuarios que tú como administrador has creado. Existen dos tipos de usuarios; los que asumen el rol de administrador y los usuarios con roles básicos.
  </div>
  <div id="paginas-cabecera">
    <div><i class="fas fa-users posicion-icono"></i></div>
    <div id="indicador-pagina">Usuarios</div>
    <div id="contenedor-nueva-pagina">
      <button class="btn-nueva-pagina" routerLink="/admin/nuevo-usuario">Añadir usuario</button>
    </div>
    <div id="explicacion-area">Personas registradas en tu plataforma.</div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Usuario</th>
          <th scope="col">Tipo</th>
          <th scope="col">Correo electrónico</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><b>Diana Sánchez</b><br><a class="acciones-paginas" href="" routerLink = "/admin/edicion-usuario">editar</a></td>
          <td>diana-s</td>
          <td>admin</td>
          <td>yolibeth@gmail.com</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Bessy Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>bessy-s</td>
          <td>user-n</td>
          <td>bessy.com</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Montserrat Sánchez<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
          <td>montse-s</td>
          <td>user-n</td>
          <td>montse.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Inicio del componente usuarios/administración de Liebe-->