<main>
    <div class="contenedor">
      <div id="contenido-principal">¡<span id="liebe">Liebe</span>, diseña tu sitio web en pocos pasos!</div>
      <div id="contenedor-btn-princ"><button id="btn-iniciar" routerLink = "/registro">Inicia tu proyecto</button></div>
    </div>
    <div class="contenedor-pregunta">
      <h1 class="t-stroke-shadow">¿Por qué usar Liebe?</h1>
    </div>
    <div class="container-fluid" id="contenedor-v">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="iconos">
            <img id="ubicacion-1" src="../../assets/img/icono-1.png">
            <div class="detalle-ventaja">Plataforma fácil e intuitiva</div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="iconos">
            <img id="ubicacion-2" src="../../assets/img/icono-2.png">
            <div class="detalle-ventaja">No es necesario que sepas programar</div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="iconos">
            <img id="ubicacion-3" src="../../assets/img/icono-3.png">
            <div class="detalle-ventaja">Con un excelente panel administrador</div>
          </div>
        </div>
      </div>
    </div>
    <div class="contenedor-pregunta">
      <h1 class="t-stroke-shadow">Muchos nos prefieren...</h1>
    </div>
    <div class="container-fluid">
      <div class="row" id="estilos-div-ux">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 contenedor-usuarios">
          <div class="contenedor-usuario">
            <div class="posicion-img">
              <img src="../../assets/img/usuario-1.png" class="img-ux">
            </div>
            <div  class="posicion-opinion">
              <h3 class="nombre-usuario">Diana Sánchez</h3>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, veritatis.
            </div>
          </div>
          <div class="contenedor-usuario">
            <div class="posicion-img">
              <img src="../../assets/img/usuario-2.jpg" class="img-ux">
            </div>
            <div  class="posicion-opinion">
              <h3 class="nombre-usuario">Diana Sánchez</h3>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, eum.
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 contenedor-usuarios">
          <div class="contenedor-usuario" >
            <div class="contenedor-usuario">
              <div class="posicion-img">
                <img src="../../assets/img/usuario-3.jpg" class="img-ux">
              </div>
              <div class="posicion-opinion">
                <h3 class="nombre-usuario">Diana Sánchez</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, tempora!
              </div>
            </div>
            <div class="contenedor-usuario">
              <div class="posicion-img">
                <img src="../../assets/img/usuario-4.jpg" class="img-ux">
              </div>
              <div  class="posicion-opinion">
                <h3 class="nombre-usuario">Diana Sánchez</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, accusamus.
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 contenedor-usuarios">
          <div class="contenedor-usuario" >
            <div class="contenedor-usuario">
              <div class="posicion-img">
                <img src="../../assets/img/usuario-5.jpg" class="img-ux">
              </div>
              <div class="posicion-opinion">
                <h3 class="nombre-usuario">Diana Sánchez</h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, tempora!
              </div>
            </div>
            <div class="contenedor-usuario">
              <div class="posicion-img">
                <img src="../../assets/img/usuario-6.jpg" class="img-ux">
              </div>
              <div  class="posicion-opinion">
                <h3 class="nombre-usuario">Diana Sánchez</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, accusamus.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contenedor-price">
      <div id="mensaje-plan">Hay un plan que se ajusta a tus necesidades</div>
      <div class="container" style="text-align: center;">
        <div class="row" id="contenedor-row-price">
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 posicion-cards">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/img/liebe-personal.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title estilos-liebe-precio">Liebe Personal</h5>
                <p class="card-text"></p>
                <button type="button" class="btn-informacion">Más información</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 posicion-cards">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/img/liebe-premium.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title estilos-liebe-precio">Liebe Premium</h5>
                <p class="card-text"></p>
                <button type="button" class="btn-informacion">Más información</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 posicion-cards">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/img/liebe-business.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title estilos-liebe-precio">Liebe Business</h5>
                <p class="card-text"></p>
                <button type="button" class="btn-informacion">Más información</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contenedor-svg">
      <div id="invitacion">Búscanos como</div>
      <svg class="contenedor-svg" viewBox="0 0 960 300">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="70%">Liebe</text>
        </symbol>
        <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>
      <div id="contenedor-iconos">
        <img class="posicion-iconos-s" src="../../assets/img/icono-facebook.png">
        <img class="posicion-iconos-s" src="../../assets/img/icono-instagram.png">
        <img class="posicion-iconos-s" src="../../assets/img/icono-twitter.png">
      </div>
    </div>
</main>
  
  

