<div id="contenedor-paginas">
    <div id="nota-informativa">
      Realiza tus entradas de contenido para que puedas agregarlas en las páginas que desees, todo esto mediante el uso de shortcuts.
    </div>
    <div id="paginas-cabecera">
      <div><i class="fas fa-mail-bulk posicion-icono"></i></div>
      <div id="indicador-pagina">Entradas</div>
      <div id="contenedor-nueva-pagina">
        <button class="btn-nueva-pagina" routerLink="/admin/nuevo-usuario">Nueva entrada</button>
      </div>
      <div id="explicacion-area">Entradas realizadas.</div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de la publicación</th>
            <th scope="col">Autor</th>
            <th scope="col">Cantidad de comentarios</th>
            <th scope="col">Fecha de creación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><b>Maquillaje natural</b><br><a class="acciones-paginas" href="" routerLink = "/admin/edicion-usuario">editar</a></td>
            <td>diana-s</td>
            <td>7</td>
            <td>7/03/2020</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><b>Maquillaje natural</b><br><a class="acciones-paginas" href="" routerLink = "/admin/edicion-usuario">editar</a></td>
            <td>diana-s</td>
            <td>7</td>
            <td>7/03/2020</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><b>Maquillaje natural</b><br><a class="acciones-paginas" href="" routerLink = "/admin/edicion-usuario">editar</a></td>
            <td>diana-s</td>
            <td>7</td>
            <td>7/03/2020</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><b>Maquillaje natural</b><br><a class="acciones-paginas" href="" routerLink = "/admin/edicion-usuario">editar</a></td>
            <td>diana-s</td>
            <td>7</td>
            <td>7/03/2020</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><b>Maquillaje natural</b><br><a class="acciones-paginas" href="" routerLink = "/admin/edicion-usuario">editar</a></td>
            <td>diana-s</td>
            <td>7</td>
            <td>7/03/2020</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><b>Maquillaje natural</b><br><a class="acciones-paginas" href="" routerLink = "/admin/edicion-usuario">editar</a></td>
            <td>diana-s</td>
            <td>7</td>
            <td>7/03/2020</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td><b>Maquillaje natural</b><br><a class="acciones-paginas" href="" routerLink = "/admin/edicion-usuario">editar</a></td>
            <td>diana-s</td>
            <td>7</td>
            <td>7/03/2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>