<!-- Inicio de todos los post -->
  <div id="contenedor-paginas">
    <div id="nota-informativa">
      En esta sección de la administración puedes visualizar todas las páginas que conforman tu sitio web. Liebe por defecto te crea la página principal, la cual podrás editar e incluso aplicar cualquiera de los temas disponibles en nuestra plataforma.
    </div>
    <div id="paginas-cabecera">
      <div><i class="fas fa-file-alt posicion-icono"></i></div>
      <div id="indicador-pagina">Páginas</div>
      <div id="contenedor-nueva-pagina">
        <button class="btn-nueva-pagina" data-toggle="modal" data-target="#crear-nueva-pagina">Crear nueva página estática</button>
      </div>
      <div id="explicacion-area">Todas las páginas del blog</div>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Fecha creación</th>
            <th scope="col">Estado</th>
            <th scope="col">Encabezado</th>
            <th scope="col">Menú</th>
            <th scope="col">Pie</th>
            <th scope="col">Breadcrumb</th>
            <th scope="col">Acciones</th>
            <th scope="col">visualizar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of paginas">
            <td>{{item.nombre}}</td>
            <td>Diana Sánchez</td>
            <td>14/02/2020</td>
            <td>
              <div class="estilo-estado">{{item.estado}}</div>
            </td>
            <td>
              <div class="estilo-estado">{{item.incluirEncabezado}}</div>
            </td>
            <td>
              <div class="estilo-estado">{{item.incluirMenu}}</div>
            </td>
            <td>
              <div class="estilo-estado">{{item.incluirPie}}</div>
            </td>
            <td>
              <div class="estilo-estado">{{item.incluirB}}</div>
            </td>
            <td>
              <div class="cont-btn-acciones">
                <button class="btn-acciones"><i class="fas fa-pencil-alt ver"></i></button>
                <button class="btn-acciones" data-toggle="modal" data-target="#confirmacion-borrar"><i class="fas fa-trash-alt ver"></i></button>
              </div>
            </td>
            <td>
              <div class="cont-btn-acciones">
                <button class="btn-acciones-ver btn-acciones"><i class="far fa-eye ver"></i></button>
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!--Inicio de la ventana modal para confirmar la eliminación de un post -->
  <div class="modal fade" id="confirmacion-borrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="identificador.liebe">
            <img src="../../../assets/img/logo-oficial-liebe-dark-small.png" alt="">
          </div>
          <h5 class="modal-title titulo-warning" id="exampleModalCenterTitle">Confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         ¿Estás seguro que deseas eliminar la página?
        </div>
        <div class="modal-footer">
          <button type="button" class="cancelar" data-dismiss="modal">Cancelar</button>
          <button type="button" class="confirmar">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <!--Inicio de la ventana modal para agregar un nuevo post -->

  <div class="modal fade" id="crear-nueva-pagina" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="identificador.liebe">
            <img src="../../../assets/img/logo-oficial-liebe-dark.png" alt="">
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div id="paginas-cabecera">
              <div>
                <i class="fas fa-file-alt posicion-icono"></i>
              </div>
              <div id="indicador-pagina">Nueva página</div>
            </div>
            <form action="" [formGroup]="pagina"> <!-- Inicio de la etiqueta form -->
              <div class="container-fluid">
                <div class="row" id="fila-opciones">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="solicitud-datos">Datos básicos</div>
                    <input formControlName ="nombre" [ngClass] = "{'input-error': nombre.invalid && (nombre.dirty || nombre.touched), 'input-success': nombre.valid}" class="input-pagina"  type="text" placeholder="Nombre de la página">
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error">
                      <span *ngIf = "nombre.errors.maxlength">El nombre de la página excede la cantidad caracteres permitidos</span>
                      <span *ngIf = "nombre.errors.required">El campo está vacío</span>
                    </div>

                    <input class="input-pagina" formControlName ="descripcion" [ngClass] = "{'input-error': descripcion.invalid && (descripcion.dirty || descripcion.touched), 'input-success':descripcion.valid}" type="text" placeholder="Breve descripción">
                    <div *ngIf = "descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="error">
                      <span *ngIf = "descripcion.errors.maxlength">La descripcón excede la cantidad de caracteres permitidos</span>
                      <span *ngIf = "descripcion.errors.required">El campo está vacío</span>
                    </div>

                    <input class="input-pagina" formControlName ="nombreMenu" [ngClass] = "{'input-error': nombreMenu.invalid && (nombreMenu.dirty || nombreMenu.touched), 'input-success': nombreMenu.valid}" type="text" placeholder="Nombre en el menú">
                    <div *ngIf = "nombreMenu.invalid && (nombreMenu.dirty || nombreMenu.touched)" class="error">
                      <span *ngIf = "nombreMenu.errors.maxlength">El nombre ingresado excede la cantidad de caracteres permitidos</span>
                      <span *ngIf = "nombreMenu.errors.required">El campo está vacío</span>
                    </div>

                    <input class="input-pagina" formControlName ="palabrasClaves" [ngClass] = "{'input-error': palabrasClaves.invalid && (palabrasClaves.dirty || palabrasClaves.touched), 'input-success': palabrasClaves.valid}" type="text" placeholder="Palabras claves">
                    <div *ngIf = "palabrasClaves.invalid && (palabrasClaves.dirty || palabrasClaves.touched)" class="error">
                      <span *ngIf = "palabrasClaves.errors.maxlength">Las palabras claves exceden la cantidad de caracteres permitidos</span>
                      <span *ngIf = "palabrasClaves.errors.required">El campo está vacío</span>
                    </div>

                    <label class="instruccion">Página padre Sí/No</label>
                    <input class="input-pagina" formControlName ="paginaPadre" [ngClass] = "{'input-error': paginaPadre.invalid && (paginaPadre.dirty || paginaPadre.touched), 'input-success': paginaPadre.valid}" type="text" placeholder="Página padre"><br>
                    <div *ngIf = "paginaPadre.invalid && (paginaPadre.dirty || paginaPadre.touched)" class="error">
                      <span *ngIf = "paginaPadre.errors.maxlength">El dato ingresado excede la  cantidad de caracteres permitidos</span>
                      <span *ngIf = "paginaPadre.errors.required">El campo está vacío</span>
                    </div>

                    <label class="instruccion">Estado de la página Activo/Inactivo</label>
                    <input class="input-pagina" formControlName ="estado" [ngClass] = "{'input-error': estado.invalid && (estado.dirty || estado.touched), 'input-success': estado.valid}" type="text" placeholder="Estado de la página">
                    <div *ngIf = "estado.invalid && (estado.dirty || estado.touched)" class="error">
                      <span *ngIf = "estado.errors.required">El campo está vacío</span>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="solicitud-datos">Más opciones</div>
                    <label class="instruccion">Incluir encabezado Sí/No</label>
                    <input class="input-pagina" formControlName ="incluirEncabezado" [ngClass] = "{'input-error': incluirEncabezado.invalid && (incluirEncabezado.dirty || incluirEncabezado.touched), 'input-success': incluirEncabezado.valid}" type="text" placeholder="Incluir encabezado">
                    <div *ngIf = "incluirEncabezado.invalid && (incluirEncabezado.dirty || incluirEncabezado.touched)" class="error">
                      <span *ngIf = "incluirEncabezado.errors.maxlength">El dato ingresado excede la  cantidad de caracteres permitidos</span>
                      <span *ngIf = "incluirEncabezado.errors.required">El campo está vacío</span>
                    </div>

                    <label class="instruccion">Incluir menú Sí/No</label>
                    <input class="input-pagina" formControlName ="incluirMenu" [ngClass] = "{'input-error': incluirMenu.invalid && (incluirMenu.dirty || incluirMenu.touched), 'input-success': incluirMenu.valid}" type="text" placeholder="Incluir menú">
                    <div *ngIf = "incluirMenu.invalid && (incluirMenu.dirty || incluirMenu.touched)" class="error">
                      <span *ngIf = "incluirMenu.errors.maxlength">El dato ingresado excede la  cantidad de caracteres permitidos</span>
                      <span *ngIf = "incluirMenu.errors.required">El campo está vacío</span>
                    </div>

                    <label class="instruccion">Incluir pie de página Sí/No</label>
                    <input class="input-pagina" formControlName ="incluirPie" [ngClass] = "{'input-error': incluirPie.invalid && (incluirPie.dirty || incluirPie.touched), 'input-success': incluirPie.valid}" type="text" placeholder="Incluir pie de página"><br>
                    <div *ngIf = "incluirPie.invalid && (incluirPie.dirty || incluirPie.touched)" class="error">
                      <span *ngIf = "incluirPie.errors.maxlength">El dato ingresado excede la  cantidad de caracteres permitidos</span>
                      <span *ngIf = "incluirPie.errors.required">El campo está vacío</span>
                    </div>

                    <label class="instruccion">Incluir breadcrump Sí/No</label>
                    <input class="input-pagina" formControlName ="incluirB" [ngClass] = "{'input-error': incluirB.invalid && (incluirB.dirty || incluirB.touched), 'input-success': incluirB.valid}" type="text" placeholder="Incluir breadcrump">
                    <div *ngIf = "incluirB.invalid && (incluirB.dirty || incluirB.touched)" class="error">
                      <span *ngIf = "incluirB.errors.maxlength">El dato ingresado excede la  cantidad de caracteres permitidos</span>
                      <span *ngIf = "incluirB.errors.required">El campo está vacío</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="solicitud-datos">
                Ingresa el contenido que deseas visualizar en tu página
              </div>
              <ckeditor [editor]="Editor" data="Hello, world!"></ckeditor>
              <div class="modal-footer">
                <button type="button" class="cancelar" data-dismiss="modal">Cerrar</button>
                <button [disabled]="!pagina.valid" (click)= "guardarPagina()" [ngClass]="{'btn-deshabilitado':pagina.invalid, 'confirmar':pagina.valid}" type="button">Confirmar</button>
              </div>
            </form>
            <!-- Fin de la etiqueta form -->
            
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Fin de todos los post -->



