.lbl-registro-proyecto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #105e62;
  }
.input-registro{
    width: 100%;
    border-radius: 5px;
  }
#contenedor-registro{
    background-color: #c6f0eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
.btn-registro{
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #b5525c;
    color: white;
    width: 100%;
  }
.btn-registro:hover{
   background-color: #c43544;
  }
#contenedor-btn-registro{
    margin-top: 15px;
  }
#contenedor-fila-registro{
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
  }
#contenedor-fila-registro{
    border-radius: 5px;
    padding: 20px 15px 20px 15px;
  }
#modo-registro{
    color: #b5525c;
    font-size: 16px;
    float: right;
    font-weight: 500;
  }
#frm-usuario-normal{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
}

/* Estilos para las validaciones */
.error{
  color: red;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
}
.input-error{
  border-color: red;
}
.input-success{
  border-color: #28a745;
}
#formulario-registro{
  background-color: white;
  padding:20px;
  width: 40%;
}
#mensaje-valid{
  padding: 10px 5px 10px 5px;
  margin-top: 7px;
  border-radius: 5px;
  background-color: #d4edda;
  color: #155724;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-deshabilitado{
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: rgb(138, 136, 136);
  color: white;
  width: 100%;
}