<div id="contenedor-registro">
    <form [formGroup] = "registrosUsuarios" id="formulario-registro">
        <label for="" id="modo-registro"><b>Registro administrativo</b></label><br>
        <h3>Registrate en Liebe</h3><br>

        <label for="" class="lbl-registro-proyecto">Dale un nombre a tu proyecto</label><br>
        <input  formControlName= "nombreProyecto" type="text" id="txt-nombre-proyecto" [ngClass] = "{'input-error':nombreProyecto.invalid && (nombreProyecto.dirty || nombreProyecto.touched), 'input-success':nombreProyecto.valid}" class="input-registro"><br>
        <div *ngIf= "nombreProyecto.invalid && (nombreProyecto.dirty || nombreProyecto.touched)"class="error" >
          <span *ngIf = "nombreProyecto.errors.required">El campo está vacío</span>
          <span *ngIf = "nombreProyecto.errors.maxlength">El nombre ingresado excede la cantidad de caracteres permitidos</span>
        </div>

        <label for="" class="lbl-registro-proyecto">Ingresa una breve descripción</label><br>
        <textarea formControlName= "descripcionProyecto" type="text" id="txt-nombre-proyecto" [ngClass] = "{'input-error':descripcionProyecto.invalid && (descripcionProyecto.dirty || descripcionProyecto.touched), 'input-success':descripcionProyecto.valid}" class="input-registro"></textarea><br>
        <div *ngIf= "descripcionProyecto.invalid && (descripcionProyecto.dirty || descripcionProyecto.touched)"class="error" >
          <span *ngIf = "descripcionProyecto.errors.required">El campo está vacío</span>
          <span *ngIf = "descripcionProyecto.errors.maxlength">La descripción ingresada excede la cantidad de caracteres permitidos</span>
        </div>
        
        <label for="" class="lbl-registro-proyecto">Dirección de correo electrónico</label><br>
        <input formControlName ="correo" type="email" id="txt-correo" class="input-registro" [ngClass] = "{'input-error': correo.invalid && (correo.dirty || correo.touched), 'input-success': correo.valid}"><br>
        <div *ngIf = "correo.invalid && (correo.dirty || correo.touched)" class="error">
          <span *ngIf = "correo.errors.pattern">El correo ingresado no es válido</span>
          <span *ngIf = "correo.errors.required">El campo está vacío</span>
        </div>

        <label for="" class="lbl-registro-proyecto">Nombre de usuario</label><br>
        <input formControlName ="nombreUsuario" type="text" id="txt-nombre-usuario" class="input-registro" [ngClass] = "{'input-error': nombreUsuario.invalid && (nombreUsuario.dirty || nombreUsuario.touched), 'input-success': nombreUsuario.valid}"><br>
        <div *ngIf = "nombreUsuario.invalid && (nombreUsuario.dirty || nombreUsuario.touched)" class="error">
          <span *ngIf = "nombreUsuario.errors.maxlength">El nombre de usuario ingresado excede la cantidad de caracteres permitidos</span>
          <span *ngIf = "nombreUsuario.errors.required">El campo está vacío</span>
        </div>

        <label for="" class="lbl-registro-proyecto">Contraseña</label><br>
        <input formControlName ="password" type="password" id="txt-contrasena" class="input-registro" [ngClass] = "{'input-error': password.invalid && (password.dirty || password.touched), 'input-success': password.valid}"><br>
        <div *ngIf = "password.invalid && (password.dirty || password.touched)" class="error">
          <span *ngIf = "password.errors.minlength">La contraseña ingresada es muy corta</span>
          <span *ngIf = "password.errors.maxlength">La contraseña ingresada excede la cantidad de caracteres permitidos</span>
          <span *ngIf = "password.errors.required">El campo está vacío</span>
        </div>

        <div id="contenedor-btn-registro"><button [disabled]="!registrosUsuarios.valid" id="btn-registro" (click)= "guardarRegistroUsuario()">Registrarme</button></div>
      </form><br>
      <table>
        <thead>
            <tr>
                <th>Nombre proyecto</th>
                <th>descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of usuarios">
                <td>{{item.nombreProyecto}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

