<div id="contenedor-paginas">
    <div id="nota-informativa">
      En esta sección de la administración puedes visualizar todas las páginas que conforman tu sitio web. Liebe por defecto te crea la página principal, la cual podrás editar e incluso aplicar cualquiera de los temas disponibles en nuestra plataforma.
    </div>
    <div id="paginas-cabecera">
      <div><i class="fas fa-file-alt posicion-icono"></i></div>
      <div id="indicador-pagina">Páginas</div>
      <div id="contenedor-nueva-pagina">
        <button class="btn-nueva-pagina" routerLink="/admin/nuevo-pagina">Nueva página</button>
      </div>
      <div id="explicacion-area">Todas las páginas creadas.</div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Fecha creación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><b>Página principal</b><br><a class="acciones-paginas" href="">editar</a></td>
            <td>diana-s</td>
            <td>14/02/2020</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>ventas<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
            <td>montse-s</td>
            <td>14/02/2020</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>compras<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
            <td>bessy-s</td>
            <td>14/02/2020</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>compras<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
            <td>bessy-s</td>
            <td>14/02/2020</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>compras<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
            <td>bessy-s</td>
            <td>14/02/2020</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>compras<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
            <td>bessy-s</td>
            <td>14/02/2020</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>compras<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
            <td>bessy-s</td>
            <td>14/02/2020</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>compras<br><a href="" class="acciones-paginas">editar</a><a href="" class="acciones-paginas">eliminar</a></td>
            <td>bessy-s</td>
            <td>14/02/2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>