<div id="contenedor-registro">
    <div class="container" id="contenedor-fila-registro">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form action="" id="formulario-registro">
            <h3>Registrate en Liebe</h3><br>
            <label for="" class="lbl-registro-proyecto">Dirección de correo electrónico</label><br>
            <input type="text" id="txt-correo" class="input-registro"><br>
            <label for="" class="lbl-registro-proyecto">Nombre de usuario</label><br>
            <input type="text" id="txt-nombre-usuario" class="input-registro"><br>
            <label for="" class="lbl-registro-proyecto">Contraseña</label><br>
            <input type="text" id="txt-contrasena" class="input-registro"><br>
            <label for="" class="lbl-registro-proyecto">Confirmar contraseña</label><br>
            <input type="text" id="txt-confirmacion-contrasena" class="input-registro"><br>
            <div id="contenedor-btn-registro"><button id="btn-registro">Registrarme</button></div>
          </form>
        </div>
      </div>
    </div>
</div>
