#contenedor-panel-admin{
    width: 15%;
    height: 100vh;
    background-color: #99d8d0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
  }
  .categoria-admin{
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    font-family: 'Inria Serif';
  }
  #titulo-panel{
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #105e62;
    font-weight: 700;
  }
  .contenido-categorias{
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 10px;
    
  }
  .contenido-categorias:hover{
    background-color: #41a5aa;
    color: white;
    
  }
  .posicion-i{
    float: left;
    padding-left: 10px;
    padding-right: 15px;
  }
  .contenido-a:hover{
    text-decoration: none;
    color: black;
  }
  .contenido-a{
    font-size: 13px;
    color: black;
    text-decoration: none;
  }
  hr{
    background-color: white;
  }