.modificacion-iconos{
  font-size: 2em;
  text-align: center;
  color: #105e62;
  
}
hr{
  width: 100%;
  border-color: #105e62;
}
#contenedor-menu{
  width: 100%;
  padding: 10px;
}
#nombre-admnin{
  font-size: 13px;
}
.contenedor-opcion-menu{
  border:solid 2px #105e62;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
}
.contenedor-opcion-menu:active{
  border:solid 5px #6bc5d2;
}
.contenedor-opcion-menu:hover{
  background-color: #b5525c80;
  color:white;
}
.nombre-icono{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}