<aside id="contenedor-panel-admin"> 
    <div id="titulo-panel">Panel administrador</div>
    <div><i class="fas fa-home posicion-i"></i></div>
    <div class="categoria-admin">Inicio</div>
    <div class="contenido-categorias"><a class="contenido-a" href="">Liebe administración</a></div>
    <hr>
    <div><i class="fas fa-user posicion-i"></i></div>
    <div class="categoria-admin">Usuarios</div>
    <div class="contenido-categorias"><a class="contenido-a" href="">todos los usuarios</a></div>
    <hr>
    <div><i class="fas fa-file-alt posicion-i"></i></div>
    <div class="categoria-admin">Páginas</div>
    <div class="contenido-categorias"><a class="contenido-a" href="">todas las páginas</a></div>
    <div class="contenido-categorias"><a class="contenido-a" href="">página principal</a></div>
    <div class="contenido-categorias"><a class="contenido-a" href="">nueva página</a></div>
    <hr>
    <div><i class="fas fa-comments posicion-i"></i></div>
    <div class="categoria-admin">Comentarios</div>
    <div class="contenido-categorias"><a class="contenido-a" href="">comentarios</a></div>
    <hr>
    <div><i class="fas fa-photo-video posicion-i"></i></div>
    <div class="categoria-admin">Multimedia</div>
    <div class="contenido-categorias"><a class="contenido-a" href="">visualizar todo</a></div>
    <div class="contenido-categorias"><a class="contenido-a" href="">añadir multimedia</a></div>
    <hr>
    <div><i class="fas fa-palette posicion-i"></i></div>
    <div class="categoria-admin">Personalización</div>
    <div class="contenido-categorias"><a class="contenido-a" href="">todos los temas</a></div>
    <div class="contenido-categorias"><a class="contenido-a" href="">añadir nuevo tema</a></div>
    <hr>
</aside>