<!--Nuevo panel responsivo-->
<div id="contenedor-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <div class="contenedor-opcion-menu" style="background-color: #b5525c80;">
            <div class="modificacion-iconos"><i class="fas fa-home"></i></div>
            <div class="nombre-icono">Inicio</div>
          </div>         
        </div>
        <div class="col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <div class="contenedor-opcion-menu">
            <div class="modificacion-iconos"><i class="fas fa-users"></i></div>
            <div class="nombre-icono">Usuarios</div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <div class="contenedor-opcion-menu">
            <div class="modificacion-iconos"><i class="fas fa-file-alt"></i></div>
            <div class="nombre-icono">Páginas</div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <div class="contenedor-opcion-menu">
            <div class="modificacion-iconos"><i class="fas fa-comments"></i></div>
            <div class="nombre-icono">Comentarios</div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <div class="contenedor-opcion-menu">
            <div class="modificacion-iconos"><i class="fas fa-photo-video"></i></div>
            <div class="nombre-icono">Multimedia</div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-2 col-lg-2 col-xl-2">
          <div class="contenedor-opcion-menu">
            <div class="modificacion-iconos"><i class="fas fa-palette"></i></div>
            <div class="nombre-icono">Personalización</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
</div>