<div id="contenedor-paginas">
    <!--Inicio cabecera-->
    <div id="nota-informativa">
      Incluye en tu sitio todas la imágenes, vídeos, documentos, entre otros recursos que requieras.
    </div>
    <div id="paginas-cabecera">
      <div>
        <i class="fas fa-photo-video posicion-icono"></i>
      </div>
      <div id="indicador-pagina">Multimedia</div>
      <div id="contenedor-nueva-pagina">
        <button class="btn-nueva-pagina" routerLink="/admin/nuevo-pagina">Añadir nuevo recurso</button>
      </div>
    </div>
    <div id="explicacion-area">Tus recursos multimedia</div>
    <!--Fin cabecera-->
    
    <!--Inicio de imágenes-->
    <div class="categoria-recurso">Imágenes</div>
    <div class="container-fluid">
      <!--fila 1-->
      <div class="row posicion-fila">
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-imagenes">
            <img src="../../../assets/img/recursos-img-1.jpg" class="galeria" alt="">
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-imagenes">
            <img src="../../../assets/img/recursos-img-2.jpg" class="galeria" alt="">
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-imagenes">
            <img src="../../../assets/img/recursos-img-3.jpg" class="galeria" alt="">
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-imagenes">
            <img src="../../../assets/img/recursos-img-4.jpg" class="galeria" alt="">
          </div>
        </div>
      </div>
    </div>
    <!--Fin imágenes-->

    <!--Inicio de vídeos-->
    <div class="categoria-recurso">Vídeos</div>
    <div class="container-fluid">
      <div class="row posicion-fila">
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-imagenes">
            <img src="../../../assets/img/recurso-video.png" class="galeria" alt="">
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-imagenes">
            <img src="../../../assets/img/recurso-video.png" class="galeria" alt="">
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-imagenes">
            <img src="../../../assets/img/recurso-video.png" class="galeria" alt="">
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-imagenes">
            <img src="../../../assets/img/recurso-video.png" class="galeria" alt="">
          </div>
        </div>
      </div>
    </div>

    <!--Otros archivos-->
    <div class="categoria-recurso">Documentos</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
         <div class="cont-recursos-archivos"><i class="fas fa-file-word recurso-archivo"></i></div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-archivos"><i class="fas fa-file-word recurso-archivo"></i></div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-archivos"><i class="fas fa-file-word recurso-archivo"></i></div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 fila">
          <div class="cont-recursos-archivos"><i class="fas fa-file-word recurso-archivo"></i></div>
        </div>
      </div>
    </div>
  </div>

  
