<footer id="pie-pagina">
    <div class="container">
      <div class="row posicion-fila-footer">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div id="columna-1">
            <h3 class="titulo-footer">Sobre Liebe</h3>
            <hr class="separador-footer">
            <ul class="opciones-footer">
              <li class="efecto-opciones">Lorem, ipsum dolor.</li>
              <li class="efecto-opciones">Lorem, ipsum dolor.</li>
              <li class="efecto-opciones">Lorem, ipsum dolor.</li>
              <li class="efecto-opciones">Lorem, ipsum dolor.</li>
              <li class="efecto-opciones">Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div id="columna-1">
              <h3 class="titulo-footer">Nuestras soluciones</h3>
              <hr class="separador-footer">
              <ul class="opciones-footer">
                <li class="efecto-opciones">Lorem, ipsum dolor.</li>
                <li class="efecto-opciones">Lorem, ipsum dolor.</li>
                <li class="efecto-opciones">Lorem, ipsum dolor.</li>
                <li class="efecto-opciones">Lorem, ipsum dolor.</li>
                <li class="efecto-opciones">Lorem, ipsum dolor.</li>
              </ul>
            </div>
        </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div id="columna-3">
            <h3 class="titulo-footer">Documentación</h3>
            <hr class="separador-footer">
              <ul class="opciones-footer">
                <li class="efecto-opciones">Lorem, ipsum dolor.</li>
              </ul>
          </div>
          <div id="columna-3">
            <h3 class="titulo-footer">Descarga</h3>
            <hr class="separador-footer">
              <ul class="opciones-footer">
                <li class="efecto-opciones">Lorem, ipsum dolor.</li>
              </ul>
          </div>
          </div>
        </div>
      </div>
  </footer>
    <div id="footer-persistente">
      <hr class="separador-footer-final">
      <div id="final-footer-texto">© I PAC 2020, proyecto desarrollado por Diana Sánchez. | DesarrolloWeb</div>
    </div>
