<div id="contenedor-administracion-inicio">
  <div id="nota-informativa">
    Te encuentras dentro de la administración de tu sitio web, puedes desde aquí tener acceso a las funcionalidades más importantes que Liebe ofrece.
  </div>
  <div id="inicio-cabecera">
    <div><i class="fas fa-home posicion-icono"></i></div>
  <div id="indicador-pagina">Inicio</div>
  <div id="bienvenida">¡Bienvenido a la administración de <span style="color: black;">nombre de la plataforma</span>!</div>
  <div id="informacion">Disfruta de todas las funciones que Liebe pone a tu disposición para la creación de tu sitio web.</div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm diana">
        <div class="titulo-acceso">Crea todos los usuarios que deseas</div>
        <div class="explicacion-funcionalidad">
          Con esta funcionalidad puedes visualizar, añadir, eliminar, editar usuarios.
        </div>
        <div>
          <a href="" class="anchor-admin">Ver todos los usuario</a>
        </div>
      </div>
      <div class=" col-sm diana">
        <div class="titulo-acceso">Añade páginas a tu sitio</div>
        <div class="explicacion-funcionalidad">
          Crea aquí todas las páginas que necesites, Liebe te crea por defecto tu página principal.
        </div>
        <div>
          <a href="" class="anchor-admin">Ir a página principal</a>
        </div>
      </div>
      <div class="col-sm diana">
        <div class="titulo-acceso">Administra los comentarios</div>
        <div class="explicacion-funcionalidad">
          Es importante saber la opinión de otros usuarios sobre las publicaciones que realizas, Liebe te permite tener un control total sobre todos estos comentarios.
        </div>
        <div>
          <a href="" class="anchor-admin">Eliminar comentario</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="contenedores-multimedia-recursos">
          <div class="titulo-acceso">Selecciona la plantilla que mejor se acopla al contenido de tu sitio</div>
        <div class="explicacion-funcionalidad">
          Liebe te proporciona una infinidad de temas que puedes incluir en tu sitio para hacerlo mucho más atractivo.
        </div>
        <div id="plantilla">
          <div id="titulo-plantilla">Elegant</div>
          <div id="contenedor-img-plantilla">
            <img id="img-elegant" src="../../../assets/img/img-plantilla1.jpg">
          </div>
          <div id="contenedor-botones-p">
            <button class="botones-p">Activar</button>
            <button class="botones-p">Editar</button>
          </div>
        </div>
        <div id="anchor-plantillas">
          <a href="" class="anchor-admin">Ver plantillas</a>
        </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="contenedores-multimedia-recursos">
          <div class="titulo-acceso">Añade recursos multimedia a tu sitio</div>
        <div class="explicacion-funcionalidad">
          Carga imágenes, vídeos, documentos, entre otros.
        </div>
        <div style="text-align: center;">
          <img src="../../../assets/img/recursos.png" alt="">
        </div>
        <div id="anchor-plantillas">
          <a href="" class="anchor-admin">Añadir recursos</a>
        </div>
        </div>
      </div>
      
    </div>
</div>
</div>
