#contenedor-administracion-inicio{
  padding-bottom: 70px;
}
#bienvenida{
  font-size: 1.7em;
  color:  #b5525c;
  font-family: 'Inria Serif';
}
#informacion{
  padding-top: 12px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #105e62;
  padding-bottom: 18px;
}
.estilos-mini-c{
  border:solid 3px #b5525c;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.titulo-acceso{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #105e62;
  text-align: center;
  padding-bottom: 10px;
}
#indicador-pagina{
  font-family: 'Inria Serif';
  color: #105e62;
  font-size: 1em;

}
.posicion-icono{
  float: left;
  padding-right: 20px;
}
.explicacion-funcionalidad{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
}
.anchor-admin{
  color: #b5525c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.anchor-admin:hover{
  color: #b5525c;
}
#contenedor-img-recursos{
  text-align: center;
}
#img-elegant{
  border-radius: 10px;
}

#titulo-plantilla{
  text-align: center;
  font-weight: 600;
  font-family: 'Inria Serif';
  font-size: 16px;
  color: #b5525c;
}
#contenedor-img-plantilla{
  text-align: center;
}
#contenedor-botones-p{
  padding-top: 5px;
  text-align: center;
}
.botones-p{
  border-radius: 5px;
  background-color: transparent;
  border-color: #b5525c;
  width: 80px;
  margin-left: 5px;
}
.botones-p:hover{
  background-color: #b5525c;
  color: white;
}
.contenedores-multimedia-recursos{
  margin-top: 10px;
  background-color: #d2fafb;
  border-radius: 10px;
  padding: 10px;
}
.diana{
  border:solid 3px #b5525c;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#inicio-cabecera{
  padding-left: 30px;
  padding-top: 30px;
}