<div id="contenedor-infor-admin">
    <div><i class="fas fa-home posicion-icono"></i></div>
    <div id="indicador-pagina">Inicio</div>
    <div id="bienvenida">¡Bienvenido a Liebe!</div>
    <div id="informacion">Disfruta de todas las funciones que Liebe pone a tu disposición para la creación de tu sitio web.</div>
    <div class="container-fluid">
      <div class="row" style="text-align: justify;">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 estilos-mini-c">
          <div class="titulo-acceso">Añade páginas a tu sitio</div>
          <div class="explicacion-funcionalidad">
            Crea aquí todas las páginas que necesites, Liebe te crea por defecto tu página principal.
          </div>
          <div>
            <a href="" class="anchor-admin">Ir a página principal</a>
          </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 estilos-mini-c">
          <div class="titulo-acceso">Añade páginas a tu sitio</div>
          <div class="explicacion-funcionalidad">
            Crea aquí todas las páginas que necesites, Liebe te crea por defecto tu página principal.
          </div>
          <div>
            <a href="" class="anchor-admin">Ir a página principal</a>
          </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 estilos-mini-c">
          <div class="titulo-acceso">Administra los comentarios</div>
          <div class="explicacion-funcionalidad">
            Es importante saber la opinión de otros usuarios sobre las publicaciones que realizas, Liebe te permite tener un control total sobre todos estos comentarios.
          </div>
          <div>
            <a href="" class="anchor-admin">Eliminar comentario</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="contenedores-multimedia-recursos">
            <div class="titulo-acceso">Selecciona la plantilla que mejor se acopla al contenido de tu sitio</div>
          <div class="explicacion-funcionalidad">
            Liebe te proporciona una infinidad de temas que puedes incluir en tu sitio para hacerlo mucho más atractivo.
          </div>
          <div id="plantilla">
            <div id="titulo-plantilla">Elegant</div>
            <div id="contenedor-img-plantilla">
              <img id="img-elegant" src="img/img-plantilla1.jpg">
            </div>
            <div id="contenedor-botones-p">
              <button class="botones-p">Activar</button>
              <button class="botones-p">Editar</button>
            </div>
          </div>
          <div id="anchor-plantillas">
            <a href="" class="anchor-admin">Ver plantillas</a>
          </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
          <div class="contenedores-multimedia-recursos">
            <div class="titulo-acceso">Importa tus propios recursos</div>
            <div class="explicacion-funcionalidad">
              Puedes subir imágenes, vídeos, cualquier tipo de documento, entre otros.
            </div>
            <div id="contenedor-img-recursos">
              <img src="img/recursos.png">
            </div>
            <div>
              <a href="" class="anchor-admin">Recursos agregados</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
