#footer-persistente{
    background-color: #b2525c;
    padding-top: 2%;
    padding-bottom: 3%;
    float: right;
    width: 92%;
  }
  @media only screen and (max-width: 750px) {
    #footer-persistente{
      width: 100%;
    }
  }
  .separador-footer-final{
    background-color: white;
    margin-left: 4%;
    margin-right: 4%;
  }
  #final-footer-texto{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
  }