#contenedor-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6f0eb;
    padding-top: 8%;
    padding-bottom: 10%;
    padding-right: 3%;
    padding-left: 3%;
    width: 100%;
  }
  #formulario-login{
    background-color: white;
    padding: 25px 25px 25px 25px;
    border-radius: 5px;
  }
  .input-login{
    width: 100%;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .btn-login{
    padding: 7px 40px 7px 40px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #b5525c;
    color: white;
    width: 100%;
  }
  .btn-login:hover{
    background-color: #c43544;
  }
  #contenedor-btn-login{
    margin-top: 35px;
    text-align: center;
  }
  #titulo-acceso{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: black;
  }
  #contenedor-forgot-pass{
    float: right;
  }
  #anchor-password{
    color: #105e62;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }
  #anchor-password:hover{
    text-decoration: none;
    font-weight: 600;
  }
  .estilos-label-login{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #105e62;
  }
#lbl-modo-acceso{
    color: #105e62;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
  }
/* Estilos exclusivos para las validaciones */
 .error{
    color: red;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
  }
 .input-error{
    border-color: red;
  }
  .input-success{
    border-color: #28a745;
  }
 #formulario-registro{
    background-color: white;
    padding:20px;
    width: 40%;
 }
#mensaje-valid{
    padding: 10px 5px 10px 5px;
    margin-top: 7px;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.btn-deshabilitado{
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(138, 136, 136);
    color: white;
    width: 100%;
 }