<div id="contenedor-principal-usuarios">
    <div id="usuarios-cabecera">
      <div><i class="fas fa-users posicion-icono"></i></div>
      <div id="indicador-pagina">Usuarios</div>
      <div id="explicacion-area">Añade usuarios a tu sitio.</div>
    </div>
    <form action="" id="formulario-registro">
        <h3>Registro nuevo usuario</h3><br>
        <label for="" class="lbl-registro-proyecto">Dirección de correo electrónico</label><br>
        <input type="text" id="txt-correo" class="input-registro" autofocus><br>
        <label for="" class="lbl-registro-proyecto">Nombre de usuario</label><br>
        <input type="text" id="txt-nombre-usuario" class="input-registro"><br>
        <label for="" class="lbl-registro-proyecto">Contraseña</label><br>
        <input type="text" id="txt-contrasena" class="input-registro"><br>
        <label for="" class="lbl-registro-proyecto">Confirmar contraseña</label><br>
        <input type="text" id="txt-confirmacion-contrasena" class="input-registro"><br>
        <label for="" class="lbl-registro-proyecto">Tipo usuario admin/user-n</label><br>
        <input type="text" id="txt-confirmacion-contrasena" class="input-registro"><br>
        <div id="contenedor-añadir"><button class="btn-nuevo-usuario">Añadir nuevo usuario</button></div>
    </form>
  </div>