<!-- Inicio del componente usuarios/administración de Liebe-->
<div id="contenedor-paginas">
  <div id="nota-informativa">
    En esta sección de la administración puedes visualizar todos los usuarios que tú como administrador has creado. Existen dos tipos de usuarios; los que asumen el rol de administrador y los usuarios con roles básicos.
  </div>
  <div id="paginas-cabecera">
    <div><i class="fas fa-users posicion-icono"></i></div>
    <div id="indicador-pagina">Usuarios</div>
    <div id="contenedor-nueva-pagina">
      <button type="button" class="btn-nueva-pagina" data-toggle="modal" data-target="#modal-nuevo-usuario">
        Añadir nuevo usuario
      </button>
    </div>
    <div id="explicacion-area">Personas registradas en tu plataforma.</div>
  </div>
  <div *ngIf="usuarios.length==0"><h2>No hay información</h2></div>
  <table class="table table-bordered table-hover" *ngIf= "usuarios.length!=0" style="font-size: 15px;">
    <thead class="thead-light">
      <tr>
        
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Tipo de usuario</th>
        <th scope="col">Fecha creación</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuarios">
        <td>{{item.nombre}}</td>
        <td>{{item.rol}}</td>
        <td>{{item.fecha | date:'dd/MM/yyyy' }}</td>
        <td>
          <div class="cont-btn-acciones">
            <button class="btn-acciones"><i class="fas fa-pencil-alt ver"></i></button>
            <button class="btn-acciones" data-toggle="modal" data-target="#confirmacion-borrar" ><i class="fas fa-trash-alt ver"></i></button>
            <div class="modal fade" id="confirmacion-borrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div>
                      <img src="../../../assets/img/logo-oficial-liebe-dark-small.png" alt="">
                    </div>
                    <h5 class="modal-title titulo-warning" id="exampleModalCenterTitle">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   ¿Estás seguro que deseas eliminar este usuario?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="cancelar" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="confirmar" (click) = "eliminar(item._id)" data-dismiss="modal">Confirmar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Ventana modal para añadir un nuevo usuario-->

<div class="modal fade" id="modal-nuevo-usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content nuevo-fondo">
      <div class="modal-header">
        <div>
          <img src="../../../assets/img/logo-oficial-liebe-dark.png" alt="">
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="contenedor-principal-usuarios">
          <div id="usuarios-cabecera">
            <div><i class="fas fa-users posicion-icono"></i></div>
            <div id="indicador-pagina">Nuevo usuario</div>
            <div id="explicacion-area">Añade usuarios a tu sitio.</div>
          </div>
          <form [formGroup]="usuario">
              
              <input formControlName ="nombre" [ngClass] = "{'input-error': nombre.invalid && (nombre.dirty || nombre.touched), 'input-success': nombre.valid}"type="text" id="txt-nombre-usuario" class="input-registro" placeholder="Nombre de usuario">
              <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error">
                <span *ngIf = "nombre.errors.required">El campo está vacío</span>
                <span *ngIf = "nombre.errors.maxlength">El nombre de usuario ingresado excede la cantidad de caracteres permitidos</span>
              </div>

              <input formControlName ="apellido" [ngClass] = "{'input-error': apellido.invalid && (apellido.dirty || apellido.touched), 'input-success': apellido.valid}"type="text" id="txt-apellido-usuario" class="input-registro" placeholder="apellido de usuario">
              <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="error">
                <span *ngIf = "apellido.errors.required">El campo está vacío</span>
                <span *ngIf = "apellido.errors.maxlength">El apellido del usuario ingresado excede la cantidad de caracteres permitidos</span>
              </div>

              <input formControlName ="correo" [ngClass] = "{'input-error': correo.invalid && (correo.dirty || correo.touched), 'input-success': correo.valid}"type="text" id="txt-correo-usuario" class="input-registro" placeholder="correo de usuario">
              <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="error">
                <span *ngIf = "correo.errors.required">El campo está vacío</span>
                <span *ngIf = "correo.errors.pattern">el correo ingresado no es válido</span>
              </div>

              <label>Tipo de usuario</label><br>
              <select class="input-registro" formControlName = "rol" [ngClass] = "{'input-error': rol.invalid && (rol.dirty || rol.touched), 'input-success': rol.valid}">
                <option value="Administrador">Administrador</option>
                <option value="Usuario normal">Usuario normal</option>
              </select>
              <div *ngIf = "rol.invalid && (rol.dirty || rol.touched)" class="error">
                <span *ngIf = "rol.errors.required">El campo está vacío</span>
              </div>

              <input formControlName ="password" [ngClass] = "{'input-error': password.invalid && (password.dirty || password.touched), 'input-success': password.valid}" type="text" id="txt-contrasena" class="input-registro" placeholder="Contraseña" type="password">
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                <span *ngIf = "password.errors.required">El campo está vacío</span>
                <span *ngIf = "password.errors.maxlength">La contraseña ingresada excede la cantidad de caracteres permitidos</span>
                <span *ngIf = "password.errors.minlength">La contraseña ingresada es muy corta</span>
              </div>
              <div id="mensaje-valid" *ngIf="usuario.valid">Datos correctos</div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="cancelar" data-dismiss="modal">Cerrar</button>
        <button [disabled]="!usuario.valid" (click)= "guardarUsuario()" data-dismiss="modal" [ngClass]="{'btn-deshabilitado':usuario.invalid, 'confirmar':usuario.valid}">Guardar nuevo usuario</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin de la ventana modal para añadir un nuevo usuario-->

<!--Inicio de la ventana modal para confirmar la eliminación de un comentario -->


<!-- Fin del componente usuarios/administración de Liebe-->