 <!--Inicio del dashboard-->
 <div id="contenedor-dashboard">
    <div class="opcion-dashboard">
        <a href=""><i class="fas fa-home icono-dashboard"></i></a>
        <div class="nombre-opcion">Home</div>
    </div>
    <div class="opcion-dashboard">
        <a href=""><i class="fas fa-users icono-dashboard"></i></a>
        <div class="nombre-opcion">Usuarios</div>
    </div>
    <div class="opcion-dashboard">
        <a href=""><i class="fas fa-file-alt icono-dashboard"></i></a>
        <div class="nombre-opcion">Páginas</div>
    </div>
    <div class="opcion-dashboard">
        <a href=""><i class="fas fa-mail-bulk icono-dashboard"></i></a>
        <div class="nombre-opcion">Entradas</div>
    </div>
    <div class="opcion-dashboard">
        <a href=""><i class="fas fa-photo-video icono-dashboard"></i></a>
        <div class="nombre-opcion">Apariencia</div>
    </div>
    <div class="opcion-dashboard">
        <a href=""><i class="fas fa-palette icono-dashboard"></i></a>
        <div class="nombre-opcion">Mis recursos</div>
    </div>
    <div class="opcion-dashboard" id="cerrar-sesion">
      <a href=""><i class="fas fa-sign-out-alt icono-dashboard" style="color: black;"></i></a>
      <div class="nombre-opcion">Cerrar sesión</div>
    </div>
</div>
<!--Fin del dashboard-->